[submodule "lisp/extensions/awesome-pair"]
	path = lisp/extensions/awesome-pair
	url = https://github.com/manateelazycat/awesome-pair.git
[submodule "lisp/extensions/thing-edit"]
	path = lisp/extensions/thing-edit
	url = https://github.com/manateelazycat/thing-edit.git
[submodule "lisp/extensions/xah-fly-keys"]
	path = lisp/extensions/xah-fly-keys
	url = https://github.com/vritser/xah-fly-keys.git
