[submodule "site-lisp/extensions/awesome-pair"]
	path = site-lisp/extensions/awesome-pair
	url = https://github.com/manateelazycat/awesome-pair.git
[submodule "site-lisp/extensions/thing-edit"]
	path = site-lisp/extensions/thing-edit
	url = https://github.com/manateelazycat/thing-edit.git
[submodule "site-lisp/extensions/restclient"]
	path = site-lisp/extensions/restclient
	url = https://github.com/vritser/restclient.el.git
