elpa
eln-cache
.cache
.lsp-*
forge*
history
places
projectile-bookmarks.eld
recentf
^\#.*\#$
transient
workspace
eclipse.jdt.ls
.extension
auto-save-list
.log


.dap-breakpoints
.last-package-update-day
bookmarks
eshell/
network-security.data
projectile.cache
projects
recentf~
request/
*.DS_Store
smex-items
tramp
tutorial/
url/