[submodule "site-lisp/extensions/awesome-pair"]
	path = site-lisp/extensions/awesome-pair
	url = https://github.com/manateelazycat/awesome-pair.git
[submodule "site-lisp/extensions/thing-edit"]
	path = site-lisp/extensions/thing-edit
	url = https://github.com/manateelazycat/thing-edit.git
[submodule "site-lisp/extensions/snails"]
	path = site-lisp/extensions/snails
	url = https://github.com/manateelazycat/snails.git
[submodule "site-lisp/extensions/nox"]
	path = site-lisp/extensions/nox
	url = https://github.com/manateelazycat/nox.git
[submodule "aweshell"]
	path = aweshell
	url = https://github.com/manateelazycat/aweshell.git
